    <table class="table table table-sm table-hover">
        <thead>
           <tr class="table-success">
                <th scope="col" style="text-align: center;">Désignation</th>
                <th scope="col" style="text-align: center;"></th>             
            </tr>
        </thead>
        <tbody>           
            {% for site in sites %}             
                <tr class="choice" onclick="document.location.href='{{path("site_edit",{id:site.id})}}';">
                    <td style="text-align: center;">{{site.name}}</td>                    
                </tr>
            {% endfor %}
        </tbody>        
    </table>   