.form-error {        
    margin-bottom: 5px;    
}

.form-error ul {         
    display: inline-block;    
    margin: 0;
    padding: 0;
}

.form-error li {     
    list-style: none;    
    margin: 0;
    padding: 0;
}

.span_error {
    display: inline-block;
    padding: 2px 5px;    
    border-radius: 5px;  
}

.form-success {
    color: green;   
    margin-bottom: 4px;    
}

.inline {
    display: inline-block;    
}

.choice:hover {
    background-color: #eee;
    cursor: pointer;
}

.tab_body {
    display: none;
}

.tab_active {
    display: block !important;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.span_choice {        
    border: 1px solid #ccc;
    border-radius: 5px;    
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;

    width: 100px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.span_choice:hover {
    background-color: #eee;
}

.span_choice_selected {
    background-color: #eee;
}

