{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
<div class="row align-items-center justify-content-center mt-5">
    <div class="col text-center ">
        <h2>Statistiques</h2> 
        <div class="col">
            <div class="row align-items-center justify-content-center ">
                <div class="col col-1">Année</div>
                <div class="col col-2">                    
                    <select name="year" id="year" class="form-control">
                        {% for year in stat.years %}             
                            <option value="{{year}}" {{ year == stat.year ? 'selected' : ''}}>{{year}}</option>
                        {% endfor %}                
                    </select>
                </div>           
            </div>           
            <div class="row lign-items-center justify-content-center mt-2">
                <div class="col col-1"><div id='1' class='span_choice'>Projets</div></div>
                <div class="col col-1"><div id='3' class='span_choice'>Etat projets (todo)</div></div>  
                <div class="col col-1"><div id='4' class='span_choice'>Plein d'autres (todo)</div></div>  
            </div> 
        </div>                
    </div>
</div>
<div>     
    <canvas id="myChart" class="hidden"></canvas>   
</div>
<script>
    const ctx = document.getElementById('myChart');
    let myChart = new Chart(ctx, {
        type: 'bar',        
        data: null,
        options: null
    });   
    
    $('#year').on('change', function(e) {
        const id = $('.span_choice_selected').attr('id')
        $.get('/stat/search?id='+id+'&year='+$(this).val(), function(data) {
            const ctx = document.getElementById('myChart');
            $(ctx).removeClass('hidden');
            myChart.destroy();
            myChart = new Chart(ctx, {
                type: data.type,     
                data: data.data,
                options: data.options
            })
        }, 'json')
    })
    $('.span_choice').on('click', function(ev) {
        $('.span_choice_selected').removeClass('span_choice_selected')
        $(this).addClass('span_choice_selected')
        const id = $(this).attr('id')
        $.get('/stat/search?id='+id+'&year='+$('#year').val(), function(data) {            
            const ctx = document.getElementById('myChart');
            $(ctx).removeClass('hidden');
            myChart.destroy();
            myChart = new Chart(ctx, {
                type: data.type,     
                data: data.data,
                options: data.options
            })
        }, 'json')
    })

    $('#1').trigger('click');
</script>
{% endblock %}
