    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-success">
                <th scope="col" style="text-align: center;">Désignation</th>
                <th scope="col" style="text-align: center;"></th>
            </tr>
        </thead>
        <tbody>           
            {% for role in roles %}             
                <tr class="choice" onclick="document.location.href='{{path("role_edit",{id:role.id})}}';">
                    <td style="text-align: center;">{{role.name}}</td>                    
                </tr>
            {% endfor %}
        </tbody>        
    </table>   