    <table class="table table-sm">
        <thead>
            <tr class="table-success">
                <th scope="col" style="text-align: center;">Désignation</th>
                <th scope="col" style="text-align: center;"></th>
            </tr>
        </thead>
        <tbody>           
            {% for department in departments %}             
                <tr class="choice" onclick="document.location.href='{{path("department_edit",{id:department.id})}}';">
                    <td style="text-align: center;">{{department.name}}</td>                    
                </tr>
            {% endfor %}
        </tbody>        
    </table>   