
    <table class="table table-sm">
        <thead>
            <tr class="table-success">
                <th scope="col" style="text-align: center;">Désignation</th>                 
                <th scope="col" style="text-align: center;"></th>     
            </tr>
        </thead>
        <tbody>           
            {% for activity in activities %}             
                <tr class="choice" onclick="document.location.href='{{path("activity_edit",{id:activity.id})}}';">
                    <td style="text-align: center;">{{activity.name}}</td>                    
                </tr>
            {% endfor %}
        </tbody>        
    </table>
