    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center;">Désignation</th>                 
            </tr>
        </thead>
        <tbody>           
            {% for activity in activities %}             
                <tr class="choice" onclick="document.location.href='{{path("activity_edit",{id:activity.id})}}';">
                    <td style="text-align: center;">{{activity.name}}</td>                    
                </tr>
            {% endfor %}
        </tbody>        
    </table>   