{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col">
            <h2>Bienvenue dans notre application web vous permettant de gérer et suivre vos projets</h2>
        </div>    
    </div>
{% endblock %}